$deepRed: #a90329;
$mainGrey: #CFD4D9;

$gradientTop: #a90329;
$gradientMid: #8f0222;
$gradientBottom: #6d0019;

// https://coolors.co/a90329-550527-688e26-faa613-f44708

html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100%;
    background: no-repeat;
    background: linear-gradient(to bottom, $gradientTop 0%,$gradientMid 44%,$gradientBottom 100%);
    background-image: url("../../Assets/Images/burger-hero.jpg");
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 @mixin myParallax($image, $width) {
    background-image: url($image);
    width: $width;
    height: $width;
 }

