$deepRed: #a90329;
$mainGrey: #CFD4D9;

$gradientTop: #a90329;
$gradientMid: #8f0222;
$gradientBottom: #6d0019;

// https://coolors.co/a90329-550527-688e26-faa613-f44708

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Righteous', cursive;
}

body {
    // display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: no-repeat;
    background: linear-gradient(to bottom, $gradientTop 0%, $gradientMid 44%, $gradientBottom 100%);
    background-image: url("../../Assets/Images/burger-hero.jpg");
}

a:hover {
    color: $deepRed;
}


// .parallax {
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// @mixin toParallax($image, $width) {
//     background-image: url($image);
//     width: $width;
//     height: $width;
// }

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .9);
    width: 95%;
    // max-width: 1100px;
    height: 95%;
    border-radius: 20px;
    // border-bottom-right-radius: 0%;
    // margin: 0 auto;
}

.navbar {
    font-size: 1em;
    background-color: rgba(255, 255, 255, .9);
    // position: absolute;
    width: 100%;
    z-index: 2;
    // max-height: 88px;
}

.logo {
    margin-right: 5%;
    max-height: 50px;
    min-height: 50px;
}

.top {
    margin-top: 88px;
}

.mainHeader {
    position: relative;
    text-align: center;
    // top: 10%;
    font-family: 'Righteous', cursive;
    font-size: 32px;
    color: rgba(240, 92, 90, 1);
}

.mainCarousel {
    width: 100%;
    height: 70vh;

    .carousel-inner {
        width: 100%;
        height: 100%;

        .carousel-item .carouselImage {
            width: 100%;
            height: 100%;
        }
    }
}

.bottom {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.mainFooter {
    color: rgba(240, 92, 90, 1);
}

@media (max-width: 768px) {
    #navBar {
        font-size: 2em;
    }

    #navBar .logo {
        margin-right: 5%;
        max-height: 100px;
        min-height: 100px;
    }

    .top {
        margin-top: 118px;
    }
}