$mainGrey: #CFD4D9;
$themeRed: #a90329;
$themeDeepRed: #550527;
$themeGreen: #688E26;
$themeYellow: #FAA613;
$themeOrange: #F44708;

$themeBlack: #000000;
$themeWhite: #ffffff;

$gradientTop: #a90329;
$gradientMid: #8f0222;
$gradientBottom: #6d0019;


// https://coolors.co/a90329-550527-688e26-faa613-f44708  my color palette burger themed

html {
    height: 100%;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Righteous', cursive;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url(../../Assets/Images/burger-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a:hover {
    color: $themeRed !important;
}

button:hover {
    color: $themeRed !important;
}

.container,
.secondaryContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .85);
    width: 95%;
    height: auto;
    min-height: 95%;
    border-radius: 20px;
}

.navbar {
    font-size: 1em;
    background-color: $themeYellow !important;
    box-shadow: 0 0 20px $themeBlack;
    width: 100%;
    z-index: 2;
}

.dropdown-menu {
    background-color: $themeYellow !important;
    box-shadow: 0 0 20px $themeBlack;
}

.colorTextWhite {
    color: $themeWhite !important;
}

.colorTextBlack {
    color: $themeBlack !important;
}

.backgroundRed {
    background-color: $themeRed;
}

.logo {
    margin-right: 5%;
    max-height: 50px;
    min-height: 50px;
}

.top {
    margin-top: 88px;
}

.mainHeader {
    position: relative;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 32px;
    color: $themeRed;
}

.youtubeVideo,
.googleMap {
    margin-top: 15px;
    display: block;
}

.menuItem {
    background-color: $themeRed;
    text-align: center;

    .menuImage {
        min-height: 1rem;
        max-height: 10rem;
        width: auto;
    }

    .menuFooter {
        box-shadow:
            0px 11px 15px -10px $themeBlack,
            0px -11px 15px -10px $themeBlack;
        // Just top and bottom shadows
        font-size: 1.2em;
    }
}

.itemFooterContainer {
    @extend .menuFooter;
}

.itemFooter {
    text-align: center;
}

.menuItemTop {
    border-radius: 20px 20px 0 0;
}

.menuItemBottom {
    border-radius: 0 0 20px 20px;
}

.menuItemAccordion {
    border-radius: 20px;
}

.pageFooter {
    background-color: $themeWhite;
}


.bottom {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.mainFooter {
    color: $themeRed;
}

@media (max-width: 768px) {
    #navBar {
        font-size: 2em;
    }

    #navBar .logo {
        margin-right: 5%;
    }

    .top {
        margin-top: 90px;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) {
    .menuItemTop {
        border-radius: 20px 0 0 0;
    }

    .menuItemBottom {
        border-radius: 0 0 20px 0;
    }
}